= form_with model: @tweet, url:tweets_path, local: true do |f|
  .form-group
    = f.label :content
    %br
    = f.text_area :content, rows: 10
  = f.fields_for :image do |ff|
    .form-group
      = ff.label :image
      %br
      = ff.file_field :image
  = f.submit '登録する'

= link_to 'いいねのツイート', likes_user_path(current_user.id)

%ul
  %li= @user.name
  %li= @user.screen_name
  -if @user.biography.present?
    %li= @user.biography
  -if @user.birthday.present?
    %li= @user.birthday
- unless current_user == @user
  - if current_user.following?(@user)
    = button_to 'フォロー中',follow_path(id: @user.id),method: :delete
  - else
    = button_to 'フォローする',follows_path(id: @user.id), method: :post
  
%ul
  - @tweets.reverse_each do |tweet|
    - if tweet.reply.present?
      - next
    - if tweet.type == "TweetRetweet"
      retweet
      - tweet = tweet.retweet.tweet
    = render partial: "tweet",locals: { tweet: tweet }
- pp @follow_users