%li
  %p= tweet.content
  - if tweet.type == "TweetImage"
    = image_tag tweet.image.image.to_s
  = form_with model: TweetImage.new(reply: tweet), url:tweets_path, local: true do |f|
    .form-group
      = f.label :content
      %br
      = f.text_area :content, rows: 10
      = f.hidden_field :reply_id
    = f.fields_for :image do |ff|
      .form-group
        = ff.label :image
        %br
        = ff.file_field :image
    = f.submit '登録する'
  - unless @retweets.exists?(id: tweet.id)
    = button_to "リツイート", retweets_path(id: tweet.id), method: :post
  - else
    = button_to "リツイートを削除する",retweet_path(tweet.id), method: :delete
  - unless tweet.likes.exists?(tweet_id: tweet.id)
    = button_to "LGTM", likes_path(id: tweet.id), method: :post
  - else
    = button_to "LGTMを取り消す", like_path(tweet.id), method: :delete
  - if tweet.user_id == current_user.id
    - pp tweet
    = button_to "ツイートを削除する", tweet_path(tweet.id), method: :delete
- if tweet.replies.present?
  - tweet.replies.each do |reply|
    = render partial: "tweet",locals: { tweet: reply }